.flex-container {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    height: 50px;
    font-size: 24px;
    text-align: left;
    background-color: #1F2937;
    color: #F9FAF8;
    size: 24px;
    
    ;
}